.pinterest_logo{
    font-family: 'Lobster', cursive;
    margin-top: 1rem;
}

.pinterest_footer_button{
    font-size: 1rem;
}

.pinterest_footer{
    text-align: center;
    margin-top: 2rem;
}

.pinterest_header{
    text-align: center;
    margin-top: 2rem;
}